.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 15px 30px 15px 30px;
  font-size: 14px;
  color:#2A3044;

}
.storybook-button--primary {
  background-color: #fff;
  border:1px solid #DBDDE2;
}
/* .storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
} */
.storybook-button--lineRed {
  background-color: transparent;
  border:1px solid #E4464E;
}
.storybook-button--navy {
  background-color: #39405A;
  border:1px solid #39405A;
}
.storybook-button--red {
  background-color: #E4464E;
  border:1px solid #E4464E;
}
